<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561865973681-g0ljhu1a36qu8tf331140amtnue9jab9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561865973681-g0ljhu1a36qu8tf331140amtnue9jab9</string>
	<key>API_KEY</key>
	<string>AIzaSyCjFq3F345tyk9PTXRbWBK2fireBw0xDm8</string>
	<key>GCM_SENDER_ID</key>
	<string>561865973681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uber</string>
	<key>PROJECT_ID</key>
	<string>uber-6aaa6</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-6aaa6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561865973681:ios:e65c94bae84719895be790</string>
	<key>DATABASE_URL</key>
	<string>https://uber-6aaa6.firebaseio.com</string>
</dict>
</plist>